<!--<app-diretiva-ngif></app-diretiva-ngif>--> 
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!--<app-diretiva-ngfor></app-diretiva-ngfor> -->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretivas-ngstyle></app-diretivas-ngstyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--<app-exemplo-ng-content>
    <div class="titulo" >  Conteudo passado para o component</div>

    <div class="conteudo" ><app-operador-elvis></app-operador-elvis></div>
    <div class="conteudo" >Conteudo2 <br><app-operador-elvis></app-operador-elvis></div>
    
</app-exemplo-ng-content>-->

<app-diretivas-customizadas></app-diretivas-customizadas>